/*THEME*/

/*COLOR PALLETE
		#HEX		#RGB 			DESCRIPTION
	----------------------------------------------
	-	#bfbfbf		191, 191, 191	strong grey			
	- 	#337ab7		51, 122, 183	blue
	- 	#5cb85c		92, 184, 92		green
	-	#f0ad4e						yellow
	-	#d9534f						red

	FONT EXTRA: 	#f2f2f2
	LUKE:			#163031
*/

#pr_label{
	font-weight: bold;
	float:left;
	width: 40%;
}

#pr_body{
	float:left;
	width: 60%;
}

#pr_label1{
	font-weight: bold;
	float:left;
	width: 45%;
}

#pr_label2{
	float:left;
	width: 45%;
}

#pr_body1{
	float:left;
	width: 55%;
}

#sider{
	background-color: rgb(204, 204, 204);
	z-index: 1;
	color: #337ab7;
	position: fixed;
	width: 100px;
	height: 100%;
	transition: 0.5s;
}

#sider:hover{
	box-shadow: 0px 0px 10px 5px rgba(102, 102, 102, 0.5);
}

#sider button{
	width: 90%;
	font-size:24px; 
	margin: 10px 0px;
}

#headlogo:hover, #headlogo button:active{
	transition: 0.3s;
	box-shadow: 0px 0px 10px 5px rgba(255,255,255, 0.6);
}

#headlogo button{
	margin-top: 5px;
	background-color: rgba(255, 255, 255, 0.7);
	color: #337ab7;
}

#add_more{
	background-color: rgba(255, 255, 255, 0.7);
	color: #337ab7;
	padding-top: 3px;
	padding-bottom: 0px;
	font-size: 20px;
}

#headlogo button:hover, #headlogo button:active, #add_more:hover, #add_more:active{
	background-color: #bfbfbf;
	color: #ffffff;
}

#body{
	padding: 20px;
	margin-left: 100px;
}

body{
	background-image: url("/images/bg2.png");
	background-color: #d9d9d9;
	padding-bottom: 30px;
}

#outer{
	background-color: rgba(204, 204, 204, 0.5);
	margin: auto;
	padding: 10px 10px 15px 10px;
	border-radius: 5px;
	min-width: 900px;
	box-shadow:  0px 0px 10px 4px rgba(255,255,255, 0.6);

}

#outer:hover{
	transition: 0.3s;
	box-shadow: 0px 0px 20px 5px rgba(255,255,255, 0.95);
}

hr{
	border: solid 1px #bfbfbf;
	width:100%;
	padding: 0px;
	margin: 20px 0px 10px 0px;
}

div, li, td{
	font-size: 12pt;
	overflow-wrap: break-word;
	page-break-inside: avoid;
}

#tophead{
	background-color: #5cb85c;
	border-radius: 5px;
	color: #f2f2f2;
	border: 0px;
	font-weight: bold;
}

.col-md-1{
	column-span: 20px;
}

#tophead1{
	background-color: #5cb85c;
	padding: 10px 20px;
	color: #f2f2f2;
}

#lfix{
	float: left;
}

#wrong_pass:hover{
	transition: 0.3s;
	box-shadow: 0px 0px 5px 2px rgba(102, 102, 102, 0.2);
}

#go:hover, #go:active, #veracity:hover, #veracity:active{
	background-color: #5cb85c;
	border-color: #bfbfbf;
	color: #f2f2f2;
}

#go_print:hover,  #go:active{
	background-color: #ffffff;
	color: #337ab7;
}

#go, #veracity, #go_print{
	background-color: #337ab7;
	border-color: #f2f2f2;
	color: #ffffff;
	font-size: 12pt;
}

#OSB:hover, #OSB:active, #FSB:hover, #FSB:active{
	background-color: #5cb85c;
	border-color: #bfbfbf;
	color: #f2f2f2;
}

#panelh{
	padding:5px 20px;
	font-size:12pt;
	color: #337ab7;
}

.p{
	color: #f2f2f2;
}

#basic{
	background-color:  #ffffff;
	padding: 0px;
	margin: 0px;
	border-radius: 3px;
}

#inner{
	padding: 10px;
}

#profile{
	padding: 20px;
	align-content: left;
}

#box{
	background-color:  rgba(74, 106, 21, 0.3);
	padding: 12px;
	margin: 0px 10px 10px 10px;
	min-height: 150px;
	border-radius: 5px;
}

#boxl{
	background-color: #337ab7;
	font-size: 12pt;
	padding: 3px;
	width: 100%;
	text-align: center;
	min-height:0px;
	margin: 5px;
	border-radius: 5px;
}

#boxl:hover, #boxl:active, #boxl:active{
	background-color: #5cb85c;
}

#link{
	text-decoration: none;
	color: #ffffff;
}


.panel-body .col-md-3{
	float: left;
	min-width: 170px;
}
.panel-body .col-md-9{
	float: left;
}

.twitter-typeahead, .tt-hint, .tt-input, .tt-menu { width: 100%; }
 
.tt-suggestion{font-size: 13px;}
.tt-menu{width: 115%;}

.pagination>.active>a,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  background-color: #5cb85c!important;
  border-color: #bfbfbf;
  color: white;
}

.pagination>li>a{
	color: #337ab7;
}

/*NON PRINT ITEMS*/
@media all {
	.page-break	{ display: none; }
}

/*NON PRINT ITEMS END*/

/*PRINT SETTINGS*/
@media print {

	.pagebreak{
		display: block;
		 page-break-before: always;
	}

	body, #body{
		margin: 0px !important;
		padding: 0px !important;
	}

	.hide_section, a, button, #go, #link_buttons, #criteria_buttons, #sider, #headlogo{
		display: none;
	}

	select, option{
		visibility: hidden;
	}

	input::placeholder, textarea::placeholder{
  		color: transparent !important;
	}
	
} /*PRINT SETTING END*/

@media screen and (max-width: 1150px) {
    .hide_section {
        display: none;
    }
}

.dynamicTile .col-sm-2.col-xs-4{
     padding:10px;
 }
 
 .dynamicTile .col-sm-4.col-xs-8{
     padding:10px;
 }
 
 #tile1{
     background: rgb(0,172,238);
 }
 
 #tile1.hover{
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 
 #tile2{
     background: rgb(243,243,243);
 }
 
 #tile3{
     background: rgb(71,193,228);
 }
 
 #tile4{
     background-image: url('http://handsontek.net/demoimages/tiles/facebook.png');
     background-size: cover;
 }
 
 #tile5{
     background: rgb(175,26,63);
 }
 
 #tile6{
     background: rgb(62,157,215);
 }
 
 #tile7{
     background: white;
 }
 
 #tile8{
     background: rgb(209,70,37);
 }
 
 #tile9{
     background: rgb(0,142,0);
 }
 
 #tile10{
     background: rgb(0,93,233);
 }
 
 .tilecaption{
     position: relative;
     top: 50%;
     transform: translateY(-50%);
     -webkit-transform: translateY(-50%);
     -ms-transform: translateY(-50%); 
     margin:0!important;
     text-align: center;
     color:white;
     font-family: Segoe UI;
     font-weight: lighter;
 }

/*THEME END*/
